body {
    background-color: green;
}

.editor-section {
    background-color: blue;
    height: 50vh;
    display: flex;
}

.editor {
    width: 70vh;
    border: 1px solid black;
}

.editor-title-bar {
    background-color: bisque;
    display: flex;
    justify-content: space-between;
}